@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
body {
  background: #fff;
  font-family: 'Roboto Mono', monospace;
  margin-left: 2em;
  margin-right: 2em;
}

.logdiv {
  margin-top: 3%;
}



.main-div, .loggedin-div {
  display: none;
}

.main-div input {
  display: block;
}


.main-div button, .loggedin-div button {
  display: block;
}

.page-wrapper {
  margin-top: 0%;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
